artefacts/git_semver-1.2.1-alpine filter=lfs diff=lfs merge=lfs -text
artefacts/git_semver-1.2.1-linux filter=lfs diff=lfs merge=lfs -text
artefacts/git_semver-1.3.0-alpine filter=lfs diff=lfs merge=lfs -text
artefacts/git_semver-1.3.0-linux filter=lfs diff=lfs merge=lfs -text
